<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suplin.demo.mapper.TableMapper">

    <select id="selectlist" resultType="com.suplin.demo.domain.Wiki">
        select `table_id`, `table_name` from `table`
    </select>

</mapper>